<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand ml-4" href="/">
      <img
        src="https://raw.githubusercontent.com/devicons/devicon/c5378d6c2510ffa0b3e4475af95618a8048d6cf1/icons/nodejs/nodejs-original.svg"
        alt=""
      />

      HOME
      <!-- <img src="/img/controlxbox.png" alt=""> -->
    </a>
  </nav>