<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand ml-4" href="/">
      <img
        src="/img/mystery-box.png"
        alt=""
      />

      AskMe!
      <a href="/">Home</a>
      <!-- <img src="/img/controlxbox.png" alt=""> -->
    </a>
  </nav>