/* h1{
    color: #01d2f7;
}

body{
    background-color: rgb(36, 36, 36);
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 90px;
} */


.container{
    max-width: 800px;
}

body{
    background-color: #1d1d1d;
    color: #ffffff;
}
img{
    width: 40px;
}
.navbar{
    background-color: #ffffff !important;
    padding: 0px;
}

.card{
    background-color: #7c7c7c56;
    

}
h1{
    text-align: center;
}

h3{
    text-align: center;
}

.textopergunta{
    height: 250px !important;
}
 
.corbtn{
    background-color: #ff4c05 !important; 
    border: none;
} 

.btnperguntar{
    background-color: blueviolet !important;
}